*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.content{
    height: 50px;
    width: 100%;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#purple{
    background-color: purple;
}

#grey{
    background-color: grey;
}

@media screen and (min-width : 600px) {
    .content{
        width: 50%;
    }
}

@media screen and (min-width : 960px) {
    .content{
        width: 33.333%;
    }
}